In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset = pd.read_csv('pima.csv')
dataset.isnull().any()
dataset = dataset.fillna(method='ffill')

In [3]:
dataset.head()

,# 1. Number of times pregnant,# 2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test,# 3. Diastolic blood pressure (mm Hg),# 4. Triceps skin fold thickness (mm),# 5. 2-Hour serum insulin (mu U/ml),# 6. Body mass index (weight in kg/(height in m)^2),# 7. Diabetes pedigree function,# 8. Age (years),# 9. Class variable (0 or 1)
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
dataset.shape

(768, 9)

In [5]:
dataset.describe()

,# 1. Number of times pregnant,# 2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test,# 3. Diastolic blood pressure (mm Hg),# 4. Triceps skin fold thickness (mm),# 5. 2-Hour serum insulin (mu U/ml),# 6. Body mass index (weight in kg/(height in m)^2),# 7. Diabetes pedigree function,# 8. Age (years),# 9. Class variable (0 or 1)
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
x = np.array(dataset)[:, :8]
y = np.array(dataset)[:, 8]

from sklearn.cross_validation import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [7]:
pd.DataFrame(x_train).head()

      0      1     2     3      4     5      6     7
0   9.0   89.0  62.0   0.0    0.0  22.5  0.142  33.0
1   1.0  118.0  58.0  36.0   94.0  33.3  0.261  23.0
2   0.0   91.0  80.0   0.0    0.0  32.4  0.601  27.0
3  12.0  140.0  82.0  43.0  325.0  39.2  0.528  58.0
4   9.0  145.0  80.0  46.0  130.0  37.9  0.637  40.0

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

pd.DataFrame(x_test).head()

,0,1,2,3,4,5,6,7
0,-0.829864,2.457628,0.332499,1.365830,-0.718238,1.344205,2.786654,-0.965849
1,-0.537687,-0.446931,0.227211,0.554072,0.134938,0.174910,-0.194347,-0.882466
2,0.046667,-1.425641,-0.404519,-1.319215,-0.718238,0.225202,-0.233492,-0.715701
3,0.338844,1.415775,0.121922,-0.132800,0.774820,-0.805790,0.356686,1.452247
4,-1.122041,-0.320646,-0.246587,-1.319215,-0.718238,-0.956667,0.576497,-0.215405

In [9]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB()

In [10]:
y_pred = gnb.predict(x_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[114  16]
 [ 29  33]]

In [11]:
print((cm[0][0]+cm[1][1])/(sum(cm[0])+sum(cm[1])))

0.765625